body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
  font-size: 14px;
}

.rel_title {
  display: inline-block;
}

.rel_title a {
  color: #844;
}

.rel_paper {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--color-card-bg);
}

.rel_score {
  display: inline-block;
  margin-right: 6px;
  font-weight: bold;
}

.rel_authors {
  color: var(--color-secondary);
}

.rel_time {
  color: var(--color-accent-1);
  display: inline-block;
}

.rel_abs {
  color: var(--color-accent-2);
}

.rel_tags {
  color: #009;
  display: inline-block;
  margin-left: 5px;
}

.rel_tag {
  /* deletes a whole tag */
  position: absolute;
  color: white;
  left: 7px;
  cursor: pointer;
  text-align: center;
  background-color: var(--color-danger);
  width: 22px;
  height: 22px;
}

.rel_utag {
  /* shows an active tag for a paper */
  background-color: #009;
  color: #fff;
  display: inline-block;
  margin-right: 5px;
  padding: 0 4px 0 4px;
  cursor: pointer;
}

.rel_utag_all {
  /* distinguishes the special 'all' tag from others */
  background-color: var(--color-bg-2);
}

.rel_utag_add {
  /* adds a paper to a tag */
  background-color: var(--color-bg-3);
  background-color: ;
  margin-right: 2px;
  width: 12px;
  text-align: center;
}

.rel_utag_sub {
  /* subs a tag from a paper */
  background-color: var(--color-danger);
  width: 12px;
  text-align: center;
}

.rel_utag a {
  color: var(--color-text-inverted);
  text-decoration: none;
}

.rel more {
}

#sbox {
  width: 100%;
}
#qfield {
  width: 100%;
  box-sizing: border-box;
  height: 2rem;
  border: solid 1px var(--color-secondary);
  border-radius: 4px;
  color: "#333";
  background-image: url("/static/search.png");
  background-repeat: no-repeat;
  background-size: 1.5rem 1.5rem;
  background-position: center;
  background-position: left center;
  outline: 0;
}

#cbox {
  margin-top: 5px;
}

#cbox input {
  margin-bottom: 5px;
}

#cbox_fast {
}

#cbox_fast a {
  display: inline-block;
  background-color: #eee;
  padding: 3px;
}

#header a {
  color: white;
  text-decoration: none;
}

.rel_more {
  display: inline-block;
  margin-right: 1rem;
}

.rel_inspect {
  display: inline-block;
  margin-right: 1rem;
}
#wordList {
  margin-top: 5px;
  margin-bottom: 1rem;
}

.rel_word {
  display: inline-block;
  background-color: var(--color-card-bg);
  padding: 2px;
  margin: 2px;
}

.rel_word_weight {
  display: inline-block;
  color: #009;
}

.rel_word_idf {
  display: inline-block;
  margin-left: 5px;
}

.rel_word_txt {
  display: inline-block;
  margin-left: 5px;
}

#log-fun-warn {
  text-align: center;
  background-color: var(--color-card-bg);
  color: #00000005;
  padding: 3px;
}
