/* Header */
#header {
  height: 24px;
  background-color: #840000;
  color: white;
  padding-top: 8px;
  padding-left: 10px;
  border-bottom: 1px solid #622;
}
#home-link {
  display: inline-block;
}
#stats-link {
  float: right;
  margin: 0 10px 0 10px;
}
#login-link {
  float: right;
  margin: 0 10px 0 10px;
}
#controls {
  margin: 10px 40px 0 40px;
  background-color: #eee;
}

#wrap {
  margin: 10px 40px 0 40px;
  font-size: 18px;
}
#tagwrap {
  margin: 10px 40px 0 40px;
  font-size: 18px;
}
#wordwrap {
  margin: 10px 40px 0 40px;
  font-size: 14px;
}

#statswrap {
  margin: 10px 40px 0 40px;
  font-size: 16px;
}
#profilewrap {
  margin: 10px 40px 0 40px;
  font-size: 16px;
}
#aboutwrap {
  margin: 10px 40px 0 40px;
  font-size: 16px;
}
#tags_field {
  width: 100px;
}
#pid_field {
  width: 60px;
}
#time_filter_field {
  width: 20px;
}
#page_number_field {
  width: 20px;
}
#svm_c_field {
  width: 30px;
}
#tagList {
  display: inline-block;
}
#inspect_svm {
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
  color: #009;
}
@media only screen and (max-width: 720px) {
  #controls,
  #wrap,
  #profilewrap,
  #wordwrap,
  #aboutwrap,
  #statswrap {
    margin: 10px 20px 0 20px;
  }
}
#pagination {
  text-align: center;
  margin-bottom: 20px;
}
#link-prev-page,
#link-next-page {
  margin: 0 5px 0 5px;
  font-size: 16px;
  cursor: pointer;
  color: #009;
  text-decoration: underline;
}
