body {
    padding: 1rem;
}

/* =========================================== */
/* Papers */
/* =========================================== */
.rel_papers {
    gap: 2rem;
}


/* =========================================== */
/* Rows and columns */
/* =========================================== */
.row, .col {
    display: flex;
    gap: 1rem;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}