body {
    padding: 1rem;
}

/* =========================================== */
/* Papers */
/* =========================================== */
.rel_papers {
    gap: 4rem;
    max-width: 1200px;
}


/* =========================================== */
/* Rows and columns */
/* =========================================== */
.row,
.col {
    display: flex;
    gap: 1rem;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}