<!DOCTYPE HTML>
<html>

<head>
    <!-- meta info -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>arxiv-sanity</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />

    {% block variables %}
    {% endblock %}

</head>

<body class="col snow">
    <nav class="row" style="gap: 1rem; margin: 1rem 0;">
        <a href="/">latest</a>
        <a href="/?rank=tags&tags=all&time_filter=7&skip_have=no"
            onclick="if (!window.isLoggedIn) { alert('Please log in first'); window.location.href = '/profile'; return false; }">recommended
            this week</a>
        <a href="/?rank=tags&tags=all&time_filter=30&skip_have=no"
            onclick="if (!window.isLoggedIn) { alert('Please log in first'); window.location.href = '/profile'; return false; }">this
            month</a>
        <a href="/?rank=tags&tags=all&time_filter=365&skip_have=no"
            onclick="if (!window.isLoggedIn) { alert('Please log in first'); window.location.href = '/profile'; return false; }">this
            year</a>
        <div class="row" style="margin-left: auto; gap: 1rem">
            <a href="/profile">
                {{ 'profile' if user else 'login' }}
            </a>
            <a href="/stats">stats</a>
            <a href="/about">about</a>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <!-- React -->
    {# {% if debug %} #}
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    {# {% else %}
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
    {% endif %} #}

    <!-- Babel for displaying JSX -->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <!-- Load our React component -->
    {% block elements %}
    {% endblock %}

    {# Theme switcher #}
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            var classicMode = localStorage.getItem('classic-mode') === 'true';
            if (classicMode) {
                document.body.classList.add('classic-mode');
            }
        });

    </script>

    {# Global user metadata #}
    <script>
        window.isLoggedIn = {{ 'true' if user else 'false' }};
    </script>

    <!-- Notification toasts -->
    <!-- https://github.com/nikitaeverywhere/toaster-js -->
    <script type="text/javascript" src="https://unpkg.com/toaster-js/umd.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/toaster-js/default.css" />
</body>

</html>