{% extends "base.html" %}

{% block variables %}
<script>
    var papers = {{ papers | tojson }};
    var tags = {{ tags | tojson }};
    var words = {{ words | tojson }};
    var all_top_terms = {{ all_top_terms | tojson }};
    var all_terms = {{ all_terms | tojson }};
    var words_desc = {{ words_desc | tojson }};
    var gvars = {{ gvars | tojson }};

    console.log("ALL TERMS")
    console.log(all_terms)
    console.log(words_desc)
    console.log(gvars)
    console.log(words)
    console.log(papers)

    var debugObject = gvars
    /*
    JS code here handles pagination. I really don't super love this approach,
    if anyone can think of a cleaner / shorter way please let me know.
    */
    var move_page = function (int_offset) {
        var queryParams = new URLSearchParams(window.location.search);
        queryParams.set("page_number", Math.max(1, parseInt(gvars.page_number) + int_offset));
        window.location.href = '/?' + queryParams.toString();
    }
</script>

<style>
    #three-canvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.min.js"></script>
<script>
window.onload = function() {
    var scene = new THREE.Scene();
    var camera = new THREE.PerspectiveCamera(75, window.innerWidth/window.innerHeight, 0.1, 1000);
    var renderer = new THREE.WebGLRenderer();
    renderer.domElement.id = 'three-canvas';
    renderer.setSize(window.innerWidth, window.innerHeight);
    document.body.appendChild(renderer.domElement);

    var geometry = new THREE.Geometry();
    for (i = 0; i < 20000; i++) {
        var vertex = new THREE.Vector3();
        vertex.x = Math.random()*2000-1000;
        vertex.y = Math.random()*2000-1000;
        vertex.z = Math.random()*2000-1000;
        geometry.vertices.push(vertex);
    }    

    material = new THREE.PointsMaterial({size: 3, sizeAttenuation: false});
    particles = new THREE.Points(geometry, material);
    scene.add(particles);

    camera.position.z = 1000;

    function animate() {
        requestAnimationFrame(animate);
        particles.rotation.x += 0.001;
        particles.rotation.y -= 0.004;
        renderer.render(scene, camera);
    }
    animate();

    // Set the renderer's size to the window's inner width and height
    renderer.setSize(window.innerWidth, window.innerHeight);

    // Append the renderer's DOM element to the body
    document.body.appendChild(renderer.domElement);

    // Add an event listener for the window resize event
    window.addEventListener('resize', function() {
        // Update the renderer's size
        renderer.setSize(window.innerWidth, window.innerHeight);

        // Update the camera's aspect ratio
        camera.aspect = window.innerWidth / window.innerHeight;

        // Update the camera's projection matrix
        camera.updateProjectionMatrix();
    });
}
</script>






{% endblock %}

{% block content %}

{% if debug %}
  <mark>Application is running in debug mode</mark>
  <div id="debugger" ></div>
{% endif %}

{% if not user %}
<div id="log-fun-warn">(hi! just btw you have to be logged in to be able to add/delete/curate tags for papers and get
    recommendations)</div>
{% endif %}

<div id="controls">
    <div class="col">
        <form class="col">
            {% if user and all_top_terms %}
            {# Render all the words, so the user knows what they can search in this instance #}
            <h4>All top terms</h4>
            <div id="all-word-list"></div>
            {% endif %}
            <input placeholder="search tags" name="tags" type="text" id="tags_field" value="{{ gvars.tags }}">
        </form>
        <div class="row">
            {{ rank_description }}
        </div>
    </div>
</div>

{% if user and tags %}
<div id="tagwrap" class="row">
</div>
{% endif %}

{% if user and words %}
<div id="wordwrap" style="display:none;">
</div>
{% endif %}

<!-- main content showing all the papers as a list -->
<div id="wrap" class="col">
</div>

<!-- links to previous and next pages -->
<div id="pagination" class="row">
    <a id="link-prev-page" onclick='move_page(-1);'>prev</a>
    <span>current page: {{ gvars.page_number }} </span>
    <a id="link-next-page" onclick='move_page(1);'>next</a>
</div>
{% endblock %}

{% block elements %}
<script src="{{ url_for('static', filename='paper_list.js') }}" type="text/babel"></script>
<script src="{{ url_for('static', filename='word_list.js') }}" type="text/babel"></script>
<script src="{{ url_for('static', filename='all_word_list.js') }}" type="text/babel"></script>
<script src="{{ url_for('static', filename='debugger.js') }}" type="text/babel"></script>
{% endblock %}